* {
    color: #ededed;
}

body {
    background-color: #170A1C;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    background-color: #2e1828;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    height: 50px;
    z-index: 100;
    border-left: 3px solid #4b61d1;
    border-right: 3px solid #4b61d1;
    border-bottom: 3px solid #4b61d1;
}

#nav-table {
    border: none;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
}

button {
    background-color: #183D45;
    border: 2px outset #4b61d1;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

button:hover {
    cursor: pointer;
    border: 2px inset #4b61d1;
    background-color: #143036;
}

.dropBtn {
    cursor: pointer;
}

.oopsie {
    border: none;
    padding: 0px;
    width: 5%;
    height: 45px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-down-section {
    position: absolute;
    width: 15%;
    z-index: 100;
    top: 50px;
    padding: 5px;
    background:
        linear-gradient(rgba(56, 24, 47, 0.8), rgba(56, 24, 47, 0.4));
    border: 2px solid #e0ca78;
    border-radius: 4px;
}

#general-history-section {
    left: 20%;
}

#fascisms-section {
    left: 40%;
}

#figures-section {
    left: 60%;
}

#further-section {
    left: 80%;
}

.hidden {
    display: none;
}

.drop-down-section a {
    display: block;
    color: #e0ca78;
}

.show {
    display: block;
}


#main-content-div {
    width: 75%;
    background-color: #38182F;
    border-left: 3px #4b61d1 solid;
    border-right: 3px solid #4b61d1;
    flex: 1;
    position: relative;
    top: 50px;
}

#top-window-div {
    background:
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
        url("img/Banner.png");
    background-repeat: no-repeat;
    background-color: #BC4749;
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7189CB;
}

#title-heading {
    background: linear-gradient(rgba(219,80,74,0.6), rgba(219,80,74,0.8));
    padding: 5px 15px;
    border: solid #e0ca78 3px;
    border-radius: 5px;
    font-family: F-Gothic, Serif;
    font-size: 1.5rem;
}

#table-container {
    border: 2px solid #7189CB;
    margin: 10px 20px 10px 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #183D45;
    overflow: auto;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5px 0 10px 0;
}

#timeline {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 5px 2px;
}

.year-block {
    width: 10%;
    border-bottom: 1px dashed black;
    text-align: center;
}

.line-block {
    background-color: black;
    width: 5%;
}

.line-block-darkred {
    width:5%;
    background-color: darkred;
}

.line-block-red {
    width: 5%;
    background-color: red;
}

.line-block-darkgreen {
    width: 5%;
    background-color: darkgreen;
}

.line-block-green {
    width: 5%;
    background-color: green;
}

.event-block {
    width: 30%;
    border-bottom: 1px dashed black;
    text-align: center;
}

.description-block {
    width: 55%;
    border-bottom: 1px dashed black;
}

.centered {
    text-align: center;
}

.bordered {
    border: 1px dashed black;
}

@media screen and (max-width: 600px) {
    #main-content-div {
        width: 100%;
        border: none;
    }

    #nav-bar {
        width: 100%;
        margin: 0;
    }

    .drop-down-section {
        background-color: rgb(56, 24, 47);
        width: 40%;
    }
}