* {box-sizing: border-box;}

body {
    background-color: #43586d;
    margin: 0;
    font-size: 18px;
    color: #feebb2;
}

a {
    color: #feebb2;
}

a:visited {
    color: #ffe189;
}

header {
    text-align: center;
}

#title {
    background-color: #2b3239;
}

#selected-section {
    background-color: #2b3239;
}

#head-table {
    margin: auto;
    width: 50%;
    background-color: #393f45;
}

.head-link {
    color: #ffbd9b;
    font-size: 20px;
}

#nav-bar {
    background-color: #393f45;
    margin-bottom: 5vh;
}

h1 {
    color: #FF6C22;
    margin: 0px;
    text-align: center;
}

h2 {
    color: #FF6C22;
    margin: 0;
}

h3 {
    color: #FF6C22;
    margin-left: 5px;
}

@media screen and (max-width: 700px) {
    
}