@font-face {
    font-family: 'F-Gothic';
    src: url(Olondon_.otf);
    font-weight: normal;
    font-style: cursive;
}

* {
    color: #ededed;
}

p {
    font-size: 18px;
}

body {
    background-color: #170A1C;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    background-color: #2e1828;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    height: 50px;
    z-index: 100;
    border-left: 3px solid #4b61d1;
    border-right: 3px solid #4b61d1;
    border-bottom: 3px solid #4b61d1;
}

button {
    background-color: #183D45;
    border: 2px outset #4b61d1;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

button:hover {
    cursor: pointer;
    border: 2px inset #4b61d1;
    background-color: #143036;
}

#nav-table {
    border: none;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
}

.oopsie {
    border: none;
    padding: 0px;
    width: 20%;
    height: 45px;
}

#main-content-div {
    width: 75%;
    height: 100%;
    background-color: #38182F;
    border-left: 3px #4b61d1 solid;
    border-right: 3px solid #4b61d1;
    border-bottom: 3px solid #4b61d1;
    flex: 1;
    position: relative;
    top: 50px;
}

#top-window-div {
    background:
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
        url("img/Banner.png"); /* Citation https://www.flickr.com/photos/pingnews/340925322/in/album-72157594333669521/ */
    background-repeat: no-repeat;
    background-color: #BC4749;
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7189CB;
}

.hero-image-div {
    background-color: #BC4749;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7189CB;
}

#origins-hero-image {
    background:
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
        url("img/origins.jpg");
    background-position: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#title-heading {
    background: linear-gradient(rgba(219,80,74,0.6), rgba(219,80,74,0.8));
    padding: 5px 15px 5px 15px;
    border: solid #e0ca78 3px;
    border-radius: 5px;
    font-family: F-Gothic, Serif;
    font-size: 2rem;
}

.content-div {
    border: 2px solid #7189CB;
    margin: 10px 20px 10px 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #183D45;
    overflow: auto;
}

.content-div::after {
    content: "";
    clear: both;
    display: table;
}

h3 {
    text-decoration: underline;
}

.content-div > p {
    line-height: 1.4;
}

th, td {
    border: 2px solid #7189CB;
}

table {
    width: 100%;
    text-align: center;
}

td, th {
    padding: 5px;
    width: 25%;
}

th {
    background-color: #2c535b;
    text-decoration: underline;
    font-size: 1.1rem;
}

/* Dropdown Menu Stuff */
.dropBtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-down-section {
    position: absolute;
    width: 15%;
    z-index: 100;
    top: 50px;
    padding: 5px;
    background:
        linear-gradient(rgba(56, 24, 47, 0.8), rgba(56, 24, 47, 0.4));
    border: 2px solid #e0ca78;
    border-radius: 4px;
}

#general-history-section {
    left: 20%;
}

#fascisms-section {
    left: 40%;
}

#figures-section {
    left: 60%;
}

#further-section {
    left: 80%;
}

.hidden {
    display: none;
}

.drop-down-section a {
    display: block;
    color: #e0ca78;
}

.show {
    display: block;
}

.center {
    text-align: center;
}

.govts {
    height: 600px;
    outline: 3px ridge #e0ca78;
}

sup {
    color: #e0ca78;
}

.completed {
    background-color: #216e35;
}

.WIP {
    background-color: #103b7a;
}
/* Mobile screen changes */
@media screen and (max-width: 600px) {
    #main-content-div {
        width: 100%;
        border: none;
    }

    #nav-bar {
        width: 100%;
        margin: 0;
    }

    .content-div {
        margin: 10px 0 10px 0;
    }

    .drop-down-section {
        background-color: rgb(56, 24, 47);
        width: 40%;
    }

    .govts {
        height: 300px;
    }
}
