* {box-sizing: border-box;}

body {
    background-color: #43586d;
    margin: 0;
    font-size: 18px;
    color: #feebb2;
}

a {
    color: #feebb2;
}

a:visited {
    color: #ffe189;
}

#musicstuff {
    text-align: center;
}

figure {
    text-align: center;
    display: inline-block;
}

header {
    text-align: center;
}

#selected-section {
    background-color: #2b3239;
}

#title {
    background-color: #2b3239;
}

#head-table {
    margin: auto;
    width: 50%;
    background-color: #393f45;
}

.head-link {
    color: #ffbd9b;
    font-size: 20px;
}

#nav-bar {
    background-color: #393f45;
    margin-bottom: 10vh;
}

h1 {
    color: #FF6C22;
    margin: 0px;
    text-align: center;
}

h2 {
    color: #FF6C22;
    margin: 0;
}

h3 {
    margin: 0;
}

#main-content {
    border: 3px solid #feebb2;
    border-radius: 20px;
    background-color: #1a334c;
    width: 70%;
    height: 70vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 50px;
    overflow: scroll;
}

#pfp {
    width: 140px;
    margin: 0;
    vertical-align: middle;
}

#pfp-container {
    border: 3px solid #feebb2;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    float: left;
}

#basic-information {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

#basic-info-text {
    height: fit-content;
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.more-information {
    width: 100%;
    border: 3px outset #feebb2;
    padding: 5px;
    margin-bottom: 40px;
    display: block;
    background-color: #1a334c;
    color: #feebb2;
    font-size: 18px;
}

.more-information-selected {
    width: 100%;
    border: 3px outset #feebb2;
    padding: 5px;
    margin-bottom: 40px;
    display: block;
    background-color: #174875;
    color: #feebb2;
    font-size: 18px; 
}

.more-information:hover {
    border: 3px inset #feebb2;
    cursor: pointer;
}

.more-information-selected:hover {
    border: 3px inset #feebb2;
    cursor: pointer;
}

#more-info-container {
    display: inline-block;
    width: 25%;
    margin-right: 20px;
}

.button-content-hidden {
   display: none;
}

.button-content-shown {
    border: 3px outset #feebb2;
    background-color: #133452;
    display: inline-block;
    width: 70%;
    padding: 15px;
    position: absolute;
}

#music-content {
    top: 50%;
    transform: translateY(-50%);
}

#music-table {
    width: 100%;
}

@media screen and (max-width: 700px) {
    
    #nav-bar {
        margin-bottom: 0;
    }
    
    #main-content {
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        padding: 10px;
    }

    .button-content-shown {
        width: 60%;
    }
}